<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Movie Form</title>
</head>
<body>

<form th:action="@{/processmovie}" th:object="${movie}" method="POST">
    <input type="hidden" th:field="*{id}" />
    Title: <input type="text" th:field="*{title}" /> <br/>
    Year: <input type="number" th:field="*{year}" /> <br/>
    Description: <textarea row="3" th:field="*{description}" /> <br/>
    Director:

    <input type="submit" value="Submit" />
    <select th:field="*{director}">
        <option th:each="aDirector:${directors}" th:value="${aDirector.id}" th:text="${aDirector.name}"></option>
    </select>
</form>

</body>
</html>